<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    <h1>This is the <%= badge.title %> badge</h1>
    <ul>
        <li>Type: <%= badge.badgeType %></li>
        <li>Colors: <%= badge.colors %></li>
        <li>Difficulty: <%= badge.difficulty %></li>

        <form action="/badges/<%= badge._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this badge</button></form>
        <a href="/badges/<%= badge._id %>/edit"> <button type="submit">Edit this badge</button></a>
    </ul>

    <a href="/badges"><button>Back to badge list</button></a>
</body>
</html>